<include file="Public/head"/>
<div class="main_body">
<div class="container">
    <div class="main col-md-8">
        <!--第一篇 开始-->
        <div class="article">
            <div class="article_head">
                <h1><a href="">PHP 7.0.0正式版发布了</a></h1>
                <div class="article_meta"><span>作者：王赛</span> •<time>日期：2015年12月4日</time></div>
            </div>
            <div class="article_media">

                <ul class="window list-unstyled">
                    <!--msg start-->
                    <!--<li class="msg-li">
                        <div class="msg-head">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="msg-content">msg-content</div>
                    </li>-->
                    <!--msg end-->
                </ul>
            </div>
            <div class="article_content">

            </div>
            <div class="article_foot clearfix">
                <div class="shoutbox">
                    <div class="col-md-10">
                        <textarea name="text_content" id="text_content" cols="30" rows="3" maxlength="80" placeholder="说点什么..." class="form-control"></textarea>
                    </div>
                    <div class="col-md-2">
                        <input type="button" value="Enter" class="btn btn-default btn-block">
                    </div>
                </div>
            </div>
        </div>
        <!--第一篇 结束-->

    </div>

    <div class="right col-md-4">
        <!--第一个模块 开始-->
        <div class="widget">
            <h4 class="title">公告</h4>
            <div class="widget_content">
                <p>qwertyuiop</p>
                <p>PHP 7.0.0正式版发布了</p>
            </div>
        </div>
        <!--第一个模块 结束-->
        <div class="widget">
            <h4 class="title">按钮</h4>
            <div class="widget_content">
                <a href="" class="btn btn-default btn-block">按钮</a>
            </div>
        </div>
        <div class="widget">
            <h4 class="title">按钮</h4>
            <div class="widget_content">
                <a href="" class="btn btn-default btn-block">按钮1</a>
                <a href="" class="btn btn-default btn-block">按钮2</a>
                <a href="" class="btn btn-default btn-block">按钮3</a>
            </div>
        </div>
        <!--<div class="widget">
            <h4 class="title">标签</h4>
            <div class="widget_content tag-cloud">
                <a class="tag">PHP</a>
                <a class="tag">Laravel</a>
                <a class="tag">新版本</a>
                <a class="tag">PHP</a>
                <a class="tag">Laravel</a>
                <a class="tag">新版本</a>
                <a class="tag">PHP</a>
                <a class="tag">Laravel</a>
                <a class="tag">新版本</a>
                <a class="tag">PHP</a>
                <a class="tag">Laravel</a>
                <a class="tag">新版本</a>
                <a class="tag">PHP</a>
                <a class="tag">Laravel</a>
                <a class="tag">新版本</a>
            </div>
        </div>-->
    </div>
</div>
</div>
<script type="text/javascript">
    var host = "ws://127.0.0.1:1144";
    var isConnect = false;
    var socket;

    $(function(){
        initWebSocket();
        $('.shoutbox .col-md-2 .btn').bind('click',function() {
            sendMsg();
        });
        $('#text_content').bind('keydown',function(evt) {
            if(evt.keyCode == 13) {
                evt.preventDefault();
                sendMsg();
            }
        });
    });

    /* websocket */
    function initWebSocket() {
        try {
            socket = new WebSocket(host);

            socket.onopen = function(evt) {
                console.log('websocket 链接成功');
                isConnect = true;
            };

            socket.onmessage = function(evt) {
                var data = JSON.parse(evt.data);
                switch (data.type) {
                    case 'text':
                        addMsg(data.msg);
                        break;
                    case 'num' :
                        //updataUserNum(data.msg);
                        break;
                };
            };

            socket.onerror = function(evt) {

            };

            socket.onclose = function(evt) {

            };
        }
        catch(ex) {
            console.log(ex);
        }
    }

    /* 显示信息 */
    function addMsg(data) {
        data = JSON.parse(data);
        var li = createMsgLi(data.text);
        var msg_window = $('.window');
        li.appendTo(msg_window);
        msg_window.scrollTop(msg_window[0].scrollHeight);
    }

    /* 生成消息节点 */
    function createMsgLi(data) {
        var li = $('<li>').addClass('msg-li');
        var head = $('<div>').addClass('msg-head');
        $('<span>').addClass('glyphicon glyphicon-user').appendTo(head);
        var content = $('<div>').addClass('msg-content').html(data);
        li.append(head).append(content);
        return li;
    }

    /* 发送消息 */
    function sendMsg() {
        var msg = $('#text_content').val();
        if(msg == '') {
            alert('不能发送空消息');
        }else{
            if(isConnect) {
                socket.send($('#text_content').val());
            }
        }
        $('#text_content').val('');
    }

</script>
<include file="Public/foot"/>